.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item{
  height: 50px;
  width: 700px;
 
 
}
.btn-group{
  margin: 20px 50px 50px;
}
.cardBody{
  height: 835px;
  margin-left: 533px;
  
}
